In [62]:
import os
import json
import pandas as pd
import time
import psycopg2
from sqlalchemy import create_engine

In [9]:


# Specify the directory containing the JSON files
json_directory = r'/home/samwise/actions/actions-runner/server/Garden/Garden/data/closed_jsons'

# List all JSON files in the directory
json_files = [file for file in os.listdir(json_directory) if file.endswith('.json')]

# Initialize an empty list to store DataFrames
dataframes = []

# Iterate through the JSON files and load data
for file in json_files:
    file_path = os.path.join(json_directory, file)
    with open(file_path, 'r') as f:
        data = json.load(f)
        # Convert JSON data to DataFrame
        df = pd.json_normalize(data)
        dataframes.append(df)

# Concatenate all DataFrames into a single DataFrame
final_df = pd.concat(dataframes, ignore_index=True)

# Display the resulting DataFrame
print(final_df)

           time       sensor     value
0    1751837050  temperature  21.58198
1    1751837050     humidity  47.92729
2    1751837638  temperature  21.36835
3    1751837638     humidity  47.43519
4    1751837649  temperature  21.31762
..          ...          ...       ...
308  1751827868     humidity  48.75891
309  1751827879  temperature  21.41642
310  1751827879     humidity  48.71313
311  1751827891  temperature  21.41375
312  1751827891     humidity  48.56054

[313 rows x 3 columns]

In [11]:
def utc_to_timestamp(utc):
    return time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(utc))

In [13]:
df["timestamp"] = df["time"].apply(utc_to_timestamp)

In [15]:
df.sort_values(by="timestamp")

           time       sensor     value            timestamp
0    1751826437  temperature  21.82498  2025-07-06 14:27:17
1    1751826437     humidity  49.80415  2025-07-06 14:27:17
2    1751826448  temperature  21.78493  2025-07-06 14:27:28
3    1751826448     humidity  49.73167  2025-07-06 14:27:28
4    1751826459  temperature  21.76089  2025-07-06 14:27:39
..          ...          ...       ...                  ...
240  1751827868     humidity  48.75891  2025-07-06 14:51:08
241  1751827879  temperature  21.41642  2025-07-06 14:51:19
242  1751827879     humidity  48.71313  2025-07-06 14:51:19
243  1751827891  temperature  21.41375  2025-07-06 14:51:31
244  1751827891     humidity  48.56054  2025-07-06 14:51:31

[245 rows x 4 columns]

In [18]:
sensors = set(df["sensor"])

In [ ]:
for s in sensors.__iter__():
    readings = df[df['sensor'] == s]
    readings.agg()
    min("timestamp")
    readings_values = readings[["timestamp","value"]]
    json_output = readings_values.to_json(orient='records', indent=4)

In [59]:
unit_lookup = pd.DataFrame(columns = ["sensor", "unit"])


unit_lookup.loc[len(unit_lookup)] = ["humidity","% rH" ]
unit_lookup.loc[len(unit_lookup)] = ["temperature","deg C" ]

In [63]:
db_connection_str = 'postgresql+psycopg2://samwise:1420SR@localhost:5432/gardendev'
engine = create_engine(db_connection_str)

In [64]:
def get_insert_recs(df):

    readings_values = df[["timestamp","value"]]
    minReadingTime = df['timestamp'].min()
    maxReadingTime = df['timestamp'].max()
    unit = unit_lookup.loc[unit_lookup["sensor"] == 'humidity', "unit"].iloc[0]
    
    
    readings_values = df[["timestamp","value"]]
    json_output = readings_values.to_json(orient='records')

    avg_reading = df["value"].mean()
    cnt_reading = df["value"].count()
    min_reading = df["value"].min()
    max_reading = df["value"].max()
    std_reading = df["value"].std()

    record_json= pd.DataFrame(columns = ["startTimestamp","sensorId", "unit", "valuesJson"])
    record_json.loc[0] = [minReadingTime,"humidity","% rH",json_output]

    record_agg= pd.DataFrame(columns = ["StartTimestamp",'EndTimestamp', "SensorId","AvgValue","MaxValue","MinValue","StandardDev", "Unit", "ValueCount"])
    record_agg.loc[0] = [minReadingTime,maxReadingTime,"humidity",avg_reading,max_reading,min_reading,std_reading,"% rH",cnt_reading]

    return record_agg, record_json


def insert_recs(record_agg_row, record_json_row):
    record_agg_row.to_sql("Garden", engine, if_exists='append', index=False)
    record_json_row.to_sql("Garden Json", engine, if_exists='append', index=False)

In [31]:


try:
    # Establish a connection to the PostgreSQL database
    conn = psycopg2.connect(
        host="localhost",      # e.g., "localhost" or an IP address
        database="gardendev",
        user="samwise",
        password="1420SR",
        port="5432"       # Default PostgreSQL port is 5432
    )

    # Create a cursor object to execute SQL queries
    cur = conn.cursor()

    # Example: Execute a simple query
    cur.execute("SELECT version();")
    db_version = cur.fetchone()
    print(f"PostgreSQL database version: {db_version}")

    # Remember to commit changes if you perform INSERT, UPDATE, or DELETE operations
    # conn.commit()

except psycopg2.Error as e:
    print(f"Error connecting to PostgreSQL: {e}")

finally:
    # Close the cursor and connection in a finally block to ensure they are always closed
    if cur:
        cur.close()
    if conn:
        conn.close()

PostgreSQL database version: ('PostgreSQL 17.5 (Ubuntu 17.5-0ubuntu0.25.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 14.2.0-19ubuntu2) 14.2.0, 64-bit',)

In [54]:
readings = df[df['sensor'] == 'humidity']
readings_values = readings[["timestamp","value"]]
minReadingTime = readings['timestamp'].min()
maxReadingTime = readings['timestamp'].max()
unit = unit_lookup.loc[unit_lookup["sensor"] == 'humidity', "unit"].iloc[0]
json_output = readings_values.to_json(orient='records')
avg_reading = readings["value"].mean()
cnt_reading = readings["value"].count()
min_reading = readings["value"].min()
max_reading = readings["value"].max()
std_reading = readings["value"].std()

In [27]:
type(json_output)

str

In [ ]:

import pandas as pd

# Replace with your PostgreSQL connection details
db_connection_str = 'postgresql+psycopg2://samwise:1420SR@localhost:5432/gardendev'
engine = create_engine(db_connection_str)

table_name = 'Garden'

# Options for 'if_exists':
# 'fail': Raise a ValueError if table exists.
# 'replace': Drop the table before inserting new values.
# 'append': Insert new values to the existing table.
record_agg.to_sql(table_name, engine, if_exists='append', index=False)

1

In [58]:
conn = psycopg2.connect(
        host="localhost",      # e.g., "localhost" or an IP address
        database="gardendev",
        user="samwise",
        password="1420SR",
        port="5432"       # Default PostgreSQL port is 5432
    )

    # Create a cursor object to execute SQL queries
cur = conn.cursor()

    # Example: Execute a simple query
pd.read_sql('select * from public."Garden"', conn)

/tmp/ipykernel_16286/3272190891.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql('select * from public."Garden"', conn)

,RecordId,StartTimestamp,EndTimestamp,SensorId,AvgValue,MaxValue,MinValue,StandardDev,Unit,ValueCount
0,1,2025-07-06 18:27:17+00:00,2025-07-06 18:51:31+00:00,humidity,49.209482,52.03387,48.53574,0.487695,% rH,123